body{
    background: url(../img_etudes/thumb-1920-26102.jpg);
}

.site{
    font-family: 'Squada One', cursive;
}
.text-logo{
    color: dodgerblue;
    font-weight: bold;
    text-shadow: 3px 2px black;
    font-size:50px;
    padding:40px 0px;
    text-align: center;
}
.text-logo .glyphicon{
    color: darkred;
}
.nav{
    margin-bottom: 40px;
}
.thumbnail img{
    background-color: darkred;
}
.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover{
    background-color: darkred;
}
.nav>li>a:focus, .nav>li>a:hover{
    color: dodgerblue;
    background-color: white;
}
.nav>li>a{
    color: dodgerblue;
    font-size: 30px;
    text-shadow:2px 2px black;
}
.btn-order{
    width:100%;
    padding: 10px;
    font-size: 16px;
    color: #fff;
    background-color: dodgerblue;
    text-decoration: overline;
    text-shadow: 2px 2px #333;
}
.btn-order:focus, btn-order:hover{
    color:white;
    background-color: black;
}










body {
	font-size: small;
}
table {
	border: medium solid black;
	border-collapse: collapse;
	width: 100%;
}
table tr th, td {
	text-align: center;
	padding: 1.5px;
}
table tr th {
	border: medium solid black;
	background-color: yellow;
	text-decoration: underline;
}
table tr td {
	border: thin solid gray;
}
.bg-rouge {
	background-color: red;
}
.bg-rouge a {
	display: block;
	color: red;
	text-decoration: none;
}
.nobordertop {
	border-top: none;
}
.noborderleft {
	border-left: none;
}
.noborderright {
	border-right: none;
}
.noborderbottom {
	border-bottom: none;
}

.table1{
    background-color: white;
    margin: 30px 30px 30px 300px;
}
.thead1{
    background-color: darkred;
   
}
.calendar{
    background-color: white;
    
}